# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [5]:
numberfloat=2.3
print(numberfloat)
numberfloat=7.5
print(numberfloat)

2.3
7.5

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1=2
num2=5.4
result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [9]:
result_dif = num2 - num1
print(result_dif)

result_dif -= 1
print(result_dif)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [11]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [13]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [16]:
result_floor = num2//num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 13%2
print(result_mod)


result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [22]:
square = 5**2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [28]:
name = "Desroy"
print(name)

Desroy

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("this is my first name: ",name)

print("Full Name: ", name, end=" Maxwell")

this is my first name:  Desroy
Full Name:  Desroy Maxwell

##### String Concatenation

In [36]:
first_name="Desroy"
last_name= "Maxwell"
full_name= first_name + " " + last_name
print(full_name)

full_name+=" jr"
print(full_name)

Desroy Maxwell
Desroy Maxwell jr

##### Type Conversion

In [38]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 6)

32
38

##### input()

In [42]:
# input will always return a string

name = input('what is your name?')
print(name)

age = int(input("what is your age?: "))
add_age = age +5
print(add_age)

what is your age?: 25
30

##### format()

In [47]:
age = input("what is yor age? ")
result_string = "you are {} {} and you are getting wiser".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is yor age? 29
you are 29 Desroy and you are getting wiser
29 is a great time in life!!!

##### Old Way (python 2)

In [57]:
result_string2 = "you are 80 and you look great for your age!"
print(result_string2)

you are 80 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [72]:
name = input("what is your name?")
year = int(input(" what year is your car?"))
color =input("what color is your car?")
make = input("what make is your car?")

print(f"{name}, your {year} {model} is {color}.")

what is your name?Desroy
 what year is your car?2018
what color is your car?black
what make is your car?Jeep Grand Cherokee
Desroy, your 2018 Grand Cherokee is black.

### If Statements

In [83]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1=7
num2=9
num3=0
# if num1==num2:
#     print("equa values!")
# else:
#     print("not equal!")

if num2 < num1 or num3 > 0:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [84]:
#the is key word is for checking for the same object , but not the same value.

num3=55
if num3 is 55:
    print("this is the exact number/object")

this is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\desro\AppData\Local\Temp\ipykernel_14384\3527045904.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [88]:
#check if a character is in a string

char_name = "frodo baggins"
if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [14]:
sega_char = "sonic"

if "a" not in sega_char:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [17]:

if "p" in input():
    print("p is here")
else:
    print("p is not here")

last week
p is not here

## Using 'and'/'or' with If Statements

In [20]:
num_11 =15
num_12 =3
num_13 =10
num_14 =3

#if with "and" statement both have to be true
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")

# if with "or" statement. only one has to be true
if num_11 > num_12 or num_13 ==num_14:
    print("true and false")

true and true
true and false

### Elif Statements

In [22]:
first_name = input("what is your name? ")

if first_name == "smith":
    print("the name is smith")
elif first_name == 'Desroy':
    print("the name is Desroy")
elif first_name != "Max":
    print("the name is not Max")
else:
    print("the name is Max")

what is your name? des
the name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [28]:
#syntax
#for counter in condition

name = "Desroy Maxwell"

for letter in name:
    print(letter)

D
e
s
r
o
y

M
a
x
w
e
l
l

##### Using 'in' keyword

In [ ]:
# see above
#thing we are itterarting through

##### Continue Statement

In [ ]:
# will continue to next iteration

In [33]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [34]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [36]:
for i in name:
    pass

##### Double For Loops

In [38]:
for i in range(1):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4

### While Loops

In [39]:
#will continue to happen as long as its true

num=0

while num<10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [45]:
game_over = True

while game_over:
    print('infinite loop')
    user_input = input('would you like to stop?')
    if  user_input == 'yes':
        game_over=False

infinite loop
would you like to stop?no
infinite loop
would you like to stop?jj
infinite loop
would you like to stop? jnj
infinite loop
would you like to stop?yes

##### While & For Loops Used Together

In [49]:
num = 0
while num <5:
    print('\n while loop iteration:' + str(num))
    
    for i in range(2):
        print("for loop iteration: ", str(i))
    num +=1

 while loop iteration:0
for loop iteration:  0
for loop iteration:  1

 while loop iteration:1
for loop iteration:  0
for loop iteration:  1

 while loop iteration:2
for loop iteration:  0
for loop iteration:  1

 while loop iteration:3
for loop iteration:  0
for loop iteration:  1

 while loop iteration:4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [54]:
#range (star, stop, step)

for i in range(2,20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [56]:
name = input("give me the name of your favorite book")
length= len(name)
print(length)

give me the name of your favorite bookThe Alcamist
12

##### help()

In [ ]:
#use this function to view more info about a python function

##### isinstance()

In [60]:
#check a variable to find out what object family(or data type) it belongs to
#isinstance(var, type)

num=input('pick a number')
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

pick a number5
5 is a float!

##### abs()

In [61]:
#|-5| = 5 absolute value

print(abs(-5))

5

### Try and Except

In [65]:
#us this to log out graceful and useful error message
#does not stop the program neato! (no error)

try:
    input_num=int(input('guess a number'))
    print("yout number i " + str(input_num))
except:
    print("That didn't work! change your input to a number!")

guess a numberpizza
That didn't work! change your input to a number!

### Lists

##### Declaring Lists

In [67]:
list_1=[]

names=['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [73]:
#picking specific items from a list
#list_name[sart:stop:step]
#singl index
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of list up until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

max
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [79]:
names.append('Desroy')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy']

##### .insert()

In [81]:
names.insert(3, 'Draco')
print(names)

['max', 'cindy', 'kathy', 'Draco', 'bob', 'nate', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy']

##### .pop()

In [83]:
#default to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to  variable

my_name= names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'Draco', 'bob', 'nate', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy', 'Desroy']


##### .remove()

In [85]:
#value to be removed rsther ths index

# names.remove('bob')
# print(names)

#remove multiple Desroy from list
while 'Desroy' in names:
    names.remove("Desroy")
print(names)

['max', 'cindy', 'Draco', 'nate']

##### del()

In [86]:
#goes by index rather than value
#be careful with del, it can cause indexing errors if not used carefully.

del(names[1])
print(names)

['max', 'Draco', 'nate']

##### Concatenating Two Lists

In [90]:
#will append two list together, will not add the values!!

list_2=[0, 1, 2,]
list_3=[3, 4, 5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lists can hold any type of other elements! including other lists!
#they can go as deep as you want: this is called nested lists

names = ['max', 'sam', 'josh', ['sally', 'sue', 'tamika']]
print(names)
print(names[3][1]

##### Looping Through Lists

In [92]:
#two ways to loop through list. one is by index; the other id by using the 'in' keyword
#by index
for i in range(len(names)):
    print(names[i])
    
#loop with 'in'
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tamika']
max
sam
josh
['sally', 'sue', 'tamika']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [119]:
for i in range(1,1001):
    cube=i*i*i
    print(cube)
    if cube >=1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [134]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for prime in range(1,101):
    if prime > 1:
        for i in range(2, prime):
            if(prime%i)==0:
                break
        else:
            print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [128]:
age=int(input('what is your age?'))
if age < 18:
    print('kids')
elif age >=18 and age <= 65:
    print('adult')
else:
    print('seniors')

what is your age?66
seniors